/* 内间距 */

/* // top */
.pd-t5{padding-top: 5px}
.pd-t7{padding-top: 7px}
.pd-t10{padding-top: 10px}
.pd-t15{padding-top: 15px}
.pd-t20{padding-top: 20px}
.pd-t25{padding-top: 25px}
.pd-t30{padding-top: 30px}
.pd-t35{padding-top: 35px}
.pd-t40{padding-top: 40px}
.pd-t60{padding-top: 60px}
.pd-t80{padding-top: 80px}
.pd-t90{padding-top: 90px}
.pd-t100{padding-top: 100px}

/* // bottom */
.pd-b5{padding-bottom: 5px}
.pd-b10{padding-bottom: 10px}
.pd-b15{padding-bottom: 15px}
.pd-b20{padding-bottom: 20px}
.pd-b25{padding-bottom: 25px}
.pd-b30{padding-bottom: 30px}
.pd-b35{padding-bottom: 35px}
.pd-b40{padding-bottom: 40px}
.pd-b60{padding-bottom: 60px}
.pd-b80{padding-bottom: 80px}
.pd-b90{padding-bottom: 90px}
.pd-b100{padding-bottom: 100px}

/* // left */
.pd-l5{padding-left: 5px}
.pd-l10{padding-left: 10px}
.pd-l15{padding-left: 15px}
.pd-l20{padding-left: 20px}
.pd-l25{padding-left: 25px}
.pd-l30{padding-left: 30px}
.pd-l35{padding-left: 35px}
.pd-l40{padding-left: 40px}
.pd-l60{padding-left: 60px}
.pd-l80{padding-left: 80px}
.pd-l90{padding-left: 90px}
.pd-l100{padding-left: 100px}

/* // right */
.pd-r5{padding-right: 5px}
.pd-r10{padding-right: 10px}
.pd-r15{padding-right: 15px}
.pd-r20{padding-right: 20px}
.pd-r25{padding-right: 25px}
.pd-r30{padding-right: 30px}
.pd-r35{padding-right: 35px}
.pd-r40{padding-right: 40px}
.pd-r60{padding-right: 60px}
.pd-r80{padding-right: 80px}
.pd-r90{padding-right: 90px}
.pd-r100{padding-right: 100px}

.pd-all5{padding: 5px}
.pd-all10{padding: 10px}
.pd-all20{padding: 20px}

/* // 外间距 */

/* // top */
.mg-t5{margin-top: 5px}
.mg-t10{margin-top: 10px}
.mg-t15{margin-top: 15px}
.mg-t20{margin-top: 20px}
.mg-t25{margin-top: 25px}
.mg-t30{margin-top: 30px}
.mg-t35{margin-top: 35px}
.mg-t40{margin-top: 40px}
.mg-t60{margin-top: 60px}
.mg-t80{margin-top: 80px}
.mg-t90{margin-top: 90px}
.mg-t100{margin-top: 100px}

/* // bottom */
.mg-b5{margin-bottom: 5px}
.mg-b10{margin-bottom: 10px}
.mg-b15{margin-bottom: 15px}
.mg-b20{margin-bottom: 20px}
.mg-b25{margin-bottom: 25px}
.mg-b30{margin-bottom: 30px}
.mg-b35{margin-bottom: 35px}
.mg-b40{margin-bottom: 40px}
.mg-b60{margin-bottom: 60px}
.mg-b80{margin-bottom: 80px}
.mg-b90{margin-bottom: 90px}
.mg-b100{margin-bottom: 100px}

/* // left */
.mg-l5{margin-left: 5px}
.mg-l10{margin-left: 10px}
.mg-l15{margin-left: 15px}
.mg-l20{margin-left: 20px}
.mg-l25{margin-left: 25px}
.mg-l30{margin-left: 30px}
.mg-l35{margin-left: 35px}
.mg-l40{margin-left: 40px}
.mg-l50{margin-left: 50px}
.mg-l60{margin-left: 60px}
.mg-l80{margin-left: 80px}
.mg-l90{margin-left: 90px}
.mg-l100{margin-left: 100px}

/* // right */
.mg-r5{margin-right: 5px}
.mg-r10{margin-right: 10px}
.mg-r15{margin-right: 15px}
.mg-r20{margin-right: 20px}
.mg-r25{margin-right: 25px}
.mg-r30{margin-right: 30px}
.mg-r35{margin-right: 35px}
.mg-r40{margin-right: 40px}
.mg-r60{margin-right: 60px}
.mg-r80{margin-right: 80px}
.mg-r90{margin-right: 90px}
.mg-r100{margin-right: 100px}
.mg-r110{margin-right: 110px}

.mg-lr-auto{margin-right: auto;margin-left:auto}

/* // 字体排版 */
.t-bold{font-weight:bold}
.t-normal{font-weight:normal}
.t-weight-100{font-weight: 100}
.t-weight-200{font-weight: 200}

.t-algin-r{text-align:right;}
.t-algin-c{text-align:center;}
.t-algin-l{text-align:left;}

.t-underline{text-decoration: underline;}

/* // 字体大小 */
.f85{font-size: 85px}
.f72{font-size: 72px}
.f60{font-size: 60px}
.f50{font-size: 50px}
.f48{font-size: 50px}
.f44{font-size: 44px}
.f42{font-size: 42px}
.f40{font-size: 40px}
.f36{font-size: 36px}
.f34{font-size: 36px}
.f32{font-size: 32px}
.f30{font-size: 30px}
.f28{font-size: 28px}
.f26{font-size: 26px}
.f24{font-size: 24px}
.f22{font-size: 22px}
.f20{font-size: 20px}
.f18{font-size: 18px}
.f16{font-size: 16px}
.f14{font-size: 14px}
.f12{font-size: 12px}

/* // 颜色值 */
.c-000{color: #000}
.c-111{color: #111}
.c-1E1E1E{color: #1e1e1e}
.c-222{color: #222}
.c-262626{color:#262626}
.c-333{color: #333}
.c-3e3e3e{color:#3e3e3e}
.c-666{color: #666}
.c-888{color: #888}
.c-999{color: #999}
.c-ccc{color: #ccc}
.c-ddd{color: #ddd}
.c-eee{color: #eee}
.c-fff{color: #fff}
.c-fff9{color: #fff9}
.c-eb3941{color: #eb3941}
.c-25cad2{color: #25cad2}
.c-207AF9{color:#207AF9}
.c-D2A36C{color:#D2A36C}
.c-F20405{color:#F20405}
.c-925A17{color:#925A17}
.c-0D4EEA{color:#0D4EEA}
.c-18FEFE{color:#18FEFE}
.c-FF1E10{color:#FF1E10}
.c-D89614{color:#D89614}
.c-61C3CA{color:#61C3CA}
.c-20B6C1{color:#20B6C1}
.c-0A97A1{color:#0A97A1}

.hover-c-0D4EEA:hover{color:#0D4EEA;transition: all .3s;}


/* // 段落文字 */
.t-ellipsis{ overflow: hidden; text-overflow: ellipsis;white-space: nowrap}
.t_ellipsis2{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp:2;-webkit-box-orient: vertical;}

/* // 段落严谨模式 */
.t-justify { text-align: justify; text-justify: inter-ideograph; word-break: break-all; word-wrap: break-word; }
.t-nowrap{white-space: nowrap;}
.c-pointer{cursor: pointer}

/* // 背景色 */
.bg-fff{background: #fff}
.bg-f5f5f5{background: #f5f5f5}
.bg-f0f0f0{background: #f0f0f0}
.bg-f9f9f9{background: #f9f9f9}
.bg-eee{background: #eee}
.bg-ddd{background: #ddd}
.bg-ccc{background: #ccc}
.bg-bbb{background: #bbb}
.bg-aaa{background: #aaa}
.bg-999{background: #999}
.bg-888{background: #888}
.bg-666{background: #666}
.bg-333{background: #333}
.bg-000{background: #000}
.bg-eb3941{background: #eb3941}
.bg-25cad2{background: #25cad2}
.bg-D2A36C{background:#D2A36C}
.bg-60C145{background:#60C145}
.bg-878585{background:#878585}
.bg-3366FF{background:#36F}
.bg-E51013{background:#E51013}
.bg-207AF9{background:#207AF9}
.bg-9BB7FA{background:#9BB7FA}
.bg-F7F8FD{background:#F7F8FD}
.bg-18FEFE{background:#18FEFE}
.bg-0D334790{background: #0D334790;}
.bg-f58220{background:#f58220}
.bg-a16028{background:#a16028}
.bg-FE861840{background:#FE861840}
.bg-61c3ca{background: #61c3ca;}
.bg-2B2B2B80{background: #2B2B2B80}
.bg-181818{background: #181818}
.bg-2b2111{background: #2b2111;}
.bg-20b6c126{background: #20b6c126;}

.bg-1d7987-061c36{background-image: linear-gradient(180deg, #1d7987 0%, #061c36 100%);}
.bg-444444-44444400{background: linear-gradient(90deg, #444 0%, #4440 100%);}
.bg-4-5-4{background: linear-gradient(to bottom, #2B2B2B80, #44444480, #2B2B2B80);}

.bg-fff1{background: rgb(255 255 255 / 10%)}
.bg-fff2{background: rgb(255 255 255 / 20%)}
.bg-fff3{background: rgb(255 255 255 / 30%)}
.bg-fff4{background: rgb(255 255 255 / 40%)}
.bg-fff5{background: rgb(255 255 255 / 50%)}
.bg-fff6{background: rgb(255 255 255 / 60%)}
.bg-fff7{background: rgb(255 255 255 / 70%)}
.bg-fff8{background: rgb(255 255 255 / 80%)}
.bg-fff9{background: rgb(255 255 255 / 90%)}

/* // 黑底透明度 */
.bg-00001{background: #000001;}
.bg-0001{background: rgb(0 0 0 / 10%)}
.bg-0002{background: rgb(0 0 0 / 20%)}
.bg-0003{background: rgb(0 0 0 / 30%)}
.bg-0004{background: rgb(0 0 0 / 40%)}
.bg-0005{background: rgb(0 0 0 / 50%)}
.bg-0006{background: rgb(0 0 0 / 60%)}
.bg-0007{background: rgb(0 0 0 / 70%)}
.bg-0008{background: rgb(0 0 0 / 80%)}
.bg-0009{background: rgb(0 0 0 / 90%)}

/* // flex布局 */
.flex{display: flex;}
.f-a-start{align-items:start}
.f-a-center{align-items:center}
.f-a-end{align-items:flex-end}
.f-j-start{justify-content: start}
.f-j-between{justify-content: space-between}
.f-j-around{justify-content: space-around}
.f-j-center{justify-content: center}
.f-j-end{justify-content: flex-end}
.f-shrink0{flex-shrink: 0;}
.f-wrap{flex-wrap:wrap;}
.f-d-column{flex-direction: column}
.f-d-row{flex-direction: row}
.flex-1 {flex: 1}
.f-ac-baseline{align-content:baseline}

.d-block{display:block}
.ov-hidden{overflow: hidden}
.ov-x-auto{overflow-x: auto}
.ov-y-auto{overflow-y: auto}

/* // 定位布局 */
.pt-relative{position: relative}
.pt-absolute{position: absolute}
.pt-fixed{position: fixed}

/* // top */
.pt-t-p-50{top:50%;}
.pt-t0{top: 0}
.pt-t5{top: 5px}
.pt-t10{top: 10px}
.pt-t12{top: 12px}
.pt-t15{top: 15px}
.pt-t20{top: 20px}
.pt-t25{top: 25px}
.pt-t30{top: 30px}
.pt-t35{top: 35px}
.pt-t40{top: 40px}
.pt-t60{top: 60px}
.pt-t80{top: 80px}
.pt-t90{top: 90px}
.pt-t100{top: 100px}

/* // bottom */
.pt-b0{bottom: 0}
.pt-b5{bottom: 5px}
.pt-b10{bottom: 10px}
.pt-b12{bottom: 12px}
.pt-b15{bottom: 15px}
.pt-b20{bottom: 20px}
.pt-b25{bottom: 25px}
.pt-b30{bottom: 30px}
.pt-b35{bottom: 35px}
.pt-b40{bottom: 40px}
.pt-b60{bottom: 60px}
.pt-b80{bottom: 80px}
.pt-b90{bottom: 90px}
.pt-b100{bottom: 100px}

/* // left */
.pt-l0{left: 0}
.pt-l5{left: 5px}
.pt-l10{left: 10px}
.pt-l15{left: 15px}
.pt-l20{left: 20px}
.pt-l25{left: 25px}
.pt-l30{left: 30px}
.pt-l35{left: 35px}
.pt-l40{left: 40px}
.pt-l60{left: 60px}
.pt-l80{left: 80px}
.pt-l90{left: 90px}
.pt-l100{left: 100px}

/* // right */
.pt-r0{right: 0}
.pt-r5{right: 5px}
.pt-r10{right: 10px}
.pt-r15{right: 15px}
.pt-r20{right: 20px}
.pt-r25{right: 25px}
.pt-r30{right: 30px}
.pt-r35{right: 35px}
.pt-r40{right: 40px}
.pt-r60{right: 60px}
.pt-r80{right: 80px}
.pt-r90{right: 90px}
.pt-r100{right: 100px}

/* // 层级 */
.z-idx-0{z-index: 0}
.z-idx-10{z-index: 10}
.z-idx-20{z-index: 10}
.z-idx-30{z-index: 30}
.z-idx-40{z-index: 40}
.z-idx-50{z-index: 50}
.z-idx-100{z-index: 100}
.z-idx-200{z-index: 200}
.z-idx-300{z-index: 300}
.z-idx-400{z-index: 400}
.z-idx-500{z-index: 500}
.z-idx-1000{z-index: 1000}
.z-idx-9999{z-index: 9999}

/* // 宽度 */

/* // 值 */
.w-v-1{width: 1px}
.w-v-2{width: 2px}
.w-v-4{width: 4px}
.w-v-5{width: 5px}
.w-v-6{width: 6px}
.w-v-8{width: 8px}
.w-v-10{width: 10px}
.w-v-15{width: 15px}
.w-v-20{width: 20px}
.w-v-24{width: 24px}
.w-v-30{width: 30px}
.w-v-36{width: 36px}
.w-v-40{width: 40px}
.w-v-50{width: 50px}
.w-v-60{width: 60px}
.w-v-80{width: 80px}
.w-v-90{width: 90px}
.w-v-100{width: 100px}
.w-v-120{width: 120px}
.w-v-138{width: 138px}
.w-v-150{width: 150px}
.w-v-168{width: 168px}
.w-v-180{width: 180px}
.w-v-200{width: 200px}
.w-v-300{width: 300px}
.w-v-400{width: 400px}
.w-v-420{width: 420px}
.w-v-660{width: 660px}
.w-v-min-120{min-width: 120px}
.w-v-min-240{min-width: 240px}
.w-p-max-50{max-width: 53%}
.w-v-max-1080{max-width: 1080px;}

/* // 百分比 */
.w-p-10{width: 10%}
.w-p-15{width: 15%}
.w-p-20{width: 20%}
.w-p-25{width: 25%}
.w-p-23{width: 23%}
.w-p-24{width: 24%}
.w-p-30{width: 30%}
.w-p-35{width: 35%}
.w-p-40{width: 40%}
.w-p-45{width: 45%}
.w-p-50{width: 50%}
.w-p-60{width: 60%}
.w-p-65{width: 65%}
.w-p-70{width: 70%}
.w-p-75{width: 75%}
.w-p-80{width: 80%}
.w-p-90{width: 90%}
.w-p-100{width: 100%}

/* // 高度 */

/* // 值 */
.h-v-1{height: 1px}
.h-v-2{height: 2px}
.h-v-4{height: 4px}
.h-v-5{height: 5px}
.h-v-6{height: 6px}
.h-v-8{height: 8px}
.h-v-10{height: 10px}
.h-v-15{height: 15px}
.h-v-20{height: 20px}
.h-v-24{height: 24px}
.h-v-30{height: 30px}
.h-v-36{height: 36px}
.h-v-40{height: 40px}
.h-v-48{height:48px}
.h-v-50{height: 50px}
.h-v-60{height: 60px}
.h-v-80{height: 80px}
.h-v-90{height: 90px}
.h-v-100{height: 100px}
.h-v-120{height: 120px}
.h-v-150{height: 150px}
.h-v-168{height: 168px}
.h-v-180{height: 180px}
.h-v-200{height: 200px}
.h-v-203{height:203px}
.h-v-101{height:101px}
.h-v-254{height:254px}
.h-v-230{height:230px}
.h-v-1000{min-height:1000px}

.max-h-p-70{max-height:70%;overflow-y:auto}
.max-h-v-160{max-height:160px;overflow:auto}
.max-h-v-360{max-height:360px;overflow:auto}
.max-h-v-400{max-height:360px;overflow:auto}

.min-h-v-300{height:300px}

.l-h-16{line-height:16px}
.l-h-24{line-height:24px}
.l-h-30{line-height:30px}
.l-h-36{line-height:36px}
.l-h-40{line-height:36px}
.l-h-50{line-height: 50px}
.l-h-40{line-height: 40px}
.l-h-60{line-height: 60px}
.l-h-80{line-height: 80px}
.l-h-90{line-height: 90px}

.l-h-1{line-height: 1}
.l-h-1_2{line-height: 1.2}
.l-h-1_3{line-height: 1.3}
.l-h-1_5{line-height: 1.5}
.l-h-2{line-height: 2}

/* // 百分比 */
.h-p-25{height: 25%}
.h-p-30{height: 30%}
.h-p-40{height: 40%}
.h-p-45{height: 45%}
.h-p-50{height: 50%}
.h-p-60{height: 60%}
.h-p-80{height: 80%}
.h-p-90{height: 90%}
.h-p-100{height: 100%}

/* // 图片尺寸 */
.img-12-12{width: 12px;height:12px;}
.img-16-16{width: 16px;height:16px;}
.img-18-18{width: 18px;height:18px;}
.img-20-20{width: 20px;height:20px;}
.img-24-24{width: 24px;height:24px;}
.img-30-30{width: 30px;height:30px;}
.img-36-36{width: 36px;height:36px;}
.img-40-40{width: 40px;height:40px;}
.img-48-48{width: 48px;height:48px;}
.img-60-60{width: 60px;height:60px;}

/* .img-min-height{height:-webkit-fill-available;} */
.img-h{height:397px;}

/* // 边框 */
.bd-000-1{border: #000 solid 1px}
.bd-000-2{border: #000 solid 2px}
.bd-ddd-1{border: #ddd solid 1px}
.bd-ddd-2{border: #ddd solid 2px}
.bd-878585-1{border: #878585 solid 1px}
.bd-C9C9C9-1{border: #C9C9C9 solid 1px}
.bd-594214-1{border: 1px solid #594214;}
.bd-20B6C1-1{border: 1px solid #20B6C1;}

.bd-t-ddd-1{border-top: #ddd solid 1px}
.bd-t-EBEEF5-1{border-top: 1px solid #EBEEF5}
.bd-t-ddd-2{border-top: #ddd solid 2px}
.bd-b-ffffff4d-1{border-bottom: 1px solid #ffffff4d;}

.bd-b-888-1{border-bottom: #888 solid 1px}
.bd-b-aaa-1{border-bottom: #aaa solid 1px}
.bd-b-ddd-1{border-bottom: #ddd solid 1px}
.bd-b-ddd-2{border-bottom: #ddd solid 2px}

.bd-l-888-1{border-left: #888 solid 1px}
.bd-l-aaa-1{border-left: #aaa solid 1px}
.bd-l-ddd-1{border-left: #ddd solid 1px}
.bd-l-ddd-2{border-left: #ddd solid 2px}

.bd-r-888-1{border-right: #888 solid 1px}
.bd-r-aaa-1{border-right: #aaa solid 1px}
.bd-r-ddd-1{border-right: #ddd solid 1px}
.bd-r-ddd-2{border-right: #ddd solid 2px}

/* // 圆角 */
.bd-rd-4{border-radius: 4px}
.bd-rd-6{border-radius: 6px}
.bd-rd-8{border-radius: 8px}
.bd-rd-10{border-radius: 10px}
.bd-rd-12{border-radius: 12px}
.bd-rd-15{border-radius: 15px}
.bd-rd-18{border-radius: 18px}
.bd-rd-20{border-radius: 20px}
.bd-rd-24{border-radius: 24px}
.bd-rd-30{border-radius: 30px}
.bd-rd-48{border-radius: 48px}
.bd-rd-60{border-radius: 60px}
.bd-rd-100{border-radius: 1000px}
.bd-rd-p50{border-radius: 50%}
.bd-rd-p100{border-radius: 100%}

/* 鼠标指针 */
.cursor-pointer{cursor: pointer}
.cursor-no-drop{cursor: no-drop}

/* 文字不可选 */
.user-select-none{
  -moz-user-select:none; /* Firefox私有属性 */
  -webkit-user-select:none; /* WebKit内核私有属性 */
  -ms-user-select:none; /* IE私有属性(IE10及以后) */
  -khtml-user-select:none; /* KHTML内核私有属性 */
  -o-user-select:none; /* Opera私有属性 */
  user-select:none; /* CSS3属性 */
}

.opacity-100{opacity: 1}
.opacity-80{opacity: 0.8}
.opacity-70{opacity: 0.7}
.opacity-50{opacity: 0.5}

.active-item::before{
  position:absolute;
  top:-6px;left:-6px;width:calc(100% + 10px);height:calc(100% + 10px);
  content: '';border:#f00 solid 1px;
}

/* v-html 内部样式 */
.vHtml {
  img {
    width: 100%;
  }
}
